//import styles
@import "layout/reset";
@import "layout/colors";
@import "layout/fonts";
@import "layout/animations";

body {
	overflow-x: hidden;
	@include roboto();
	color: white;
	background-color: $bg-color;
    line-height: 1.5;
	font-size: 1.4rem;
	
	@media only screen and (max-width: 768px) {
		text-align: center;
		font-size: 1.2rem;
	}
}

/* .container {
	//max-width: 980px;
	width: 95%;
	margin: 0 auto;
} */

#presentation {
	h1 {
		@include montserrat();
        color: $title-color;
		text-transform: uppercase;
		margin-bottom: .5em;
		font-size: 3rem;
	}
	
	.name {
		@include playfair();
		color: $secondary-color;
		font-size: 2.5rem;
    }
    
    .description {
        width: 80%;

        @media only screen and (max-width: 768px) {
			width: 100%;
		}
    }

	h1, .name {
		@media only screen and (max-width: 768px) {
			font-size: 2rem;
		}
    }

	.row {
		display: grid;
		grid-template-columns: 3fr 2fr;
		align-items: center;
		
		@media only screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
		}

		.col-left {
			.btn {
				margin-top: 1em;

                @media only screen and (max-width: 425px) {
                    display: none;
                }
			}

            @media only screen and (max-width: 768px) {
                order: 2;
            }
		}

		.col-right {
			img {
				@media only screen and (max-width: 768px) {
                    width: 150px;
                    margin-bottom: 1em;
                    order: 1;
                }
			}
		}
	}
}

#competences {
    .btn {
        margin-top: 1.5em;

        @media only screen and (max-width: 425px) {
            display: none;
        }
    }
}

#portfolio {
    .btn {
        margin-top: 1.5em;

        @media only screen and (max-width: 425px) {
            display: none;
        }
    }
}

#contact {
	.row {
        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
	}

	form {
		input, textarea {
			color: white;
			background-color: $bg-color;
			font-size: 1.2rem;
		}
	}
}

.section {
    min-height: 100vh;
    padding: 5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	.section__header {
		padding-bottom: 1.5em;
		
		h2 {
			@include pacifico();
			font-size: 2.5rem;
            color: $title-color;
            
            @media only screen and (max-width: 768px) {
                font-size: 2.3rem;
            }
		}
	}

	.section__content {
		.col-text {
			p {
				text-align: justify;
                margin-bottom: .5em
            }
		}
	}
}

.btn {
	@include montserrat();
	cursor: pointer;
	color: $btn-color !important;
	background-color: $bg-color;
	font-size: 1.2rem !important;
	padding: .5em 1.2em !important;
	border: 2px solid $btn-color;
    @include transition(all, .5s, ease-in-out);
            
    @media only screen and (max-width: 768px) {
        font-size: 1.1rem !important;
    }

	&:hover {
		box-shadow: 0 0 5px $btn-color;
	}
}

.round-border {
	border-radius: 5px !important;
}

.grid-card {
    display: grid;
	grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.highlight {
	font-weight: bold !important;
	color: $title-color !important;
}

.card {
	padding: .8em 1em;
	border: 2px solid $title-color;
	color: white !important;
	background-color: $bg-color !important;
	@include transition(all, .5s, ease-in-out);

    &:hover {
		box-shadow: 0 0 5px $title-color;
		
		.card-title {
			color: $title-color;
		}
    }

	.card-title {
		@include playfair();
		margin-bottom: .8em;
		font-size: 1.6rem;
		@include transition(all, .5s, ease-in-out);

		@media only screen and (max-width: 768px) {
            font-size: 1.4rem;
		}
	}

    .card-description {
        margin-top: 1em;
        font-size: 1.3rem;
        text-align: left;

		@media only screen and (max-width: 768px) {
            text-align: center;
		}
    }
}

.list {
	.list-item {
		color: $title-color;
		margin-right: .5em;
	}
}

#scroll-top {
    position: fixed;
    display: none;
    right: 50px;
    bottom: 50px;
    z-index: 11;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: $btn-color;
	display: flex;
	align-items: center;
	justify-content: center;
	@include transition(all, .5s, ease-in-out);

    &:hover {
        box-shadow: 0 0 5px $btn-color !important;
		@include rotate();
    }
}

.owl-theme .owl-dots .owl-dot span {
	background-color: white !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: $btn-color !important;
}

//https://divinotes.com/create-image-scrolls-hover/
.img-scroll {
    cursor: pointer;
    height: 380px;
	background-size: 100% auto !important;
    background-repeat: no-repeat;
    background-position: top center;
    @include transition(background-position, 10s, linear);
            
    @media only screen and (max-width: 768px) {
        height: 250px;
    }

    &:hover {
        background-position: bottom center !important;
    }
}
