@import "layout/reset";
@import "layout/colors";
@import "layout/fonts";
@import "layout/animations";

body {
	overflow-x: hidden;
	@include font_roboto();
	color: white;
	background-color: $bg-color;
    line-height: 1.5;
	font-size: 1.4rem;
	
	@media only screen and (max-width: 768px) {
		text-align: center;
		font-size: 1.2rem;
	}
}

#presentation {
	h1 {
		@include font_montserrat();
        color: $title-color;
		text-transform: uppercase;
		margin-bottom: .5em;
		font-size: 2.8rem;

        @media only screen and (max-width: 768px) {
			font-size: 2rem;
		}
	}
	
	.fullname {
		font-size: 2rem;
    }
    
    .description {
        width: 80%;

        @media only screen and (max-width: 768px) {
			width: 100%;
            padding-inline: .5em;
		}
    }

	.row {
		display: grid;
		grid-template-columns: 3fr 2fr;
		align-items: center;
		
		@media only screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
		}

		.col-left {
			.btn {
				margin-top: 1em;

                @media only screen and (max-width: 425px) {
                    display: none;
                }
			}

            @media only screen and (max-width: 768px) {
                order: 2;
            }
		}

		.col-right {
			img {
                width: 300px;

				@media only screen and (max-width: 768px) {
                    width: 150px;
                    margin-bottom: 1em;
                    order: 1;
                }
			}
		}
	}
}

#contact {
	.row {
        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
	}

	form {
		input, textarea {
			color: white;
			background-color: $bg-color;
			font-size: 1.2rem;
		}
	}
}

.section {
    min-height: 100vh;
    padding: 5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	.section__header {
		padding-bottom: 1.5em;
		
		h2 {
            @include font_pacifico();
            font-size: 2.5rem;
            color: $title-color;
            
            @media only screen and (max-width: 768px) {
                font-size: 2rem;
            }
		}
	}

	.section__content {
		.col-text {
			p {
				text-align: justify;
                margin-bottom: .5em
            }
		}
	}
}

.btn {
	@include font_montserrat();
	cursor: pointer;
	color: $btn-color;
	background-color: $bg-color;
	font-size: 1.2rem;
	padding: .5em 1.2em;
	border: 2px solid $btn-color;
    @include transition(all, .5s, ease-in-out);
            
    @media only screen and (max-width: 768px) {
        font-size: 1.1rem;
    }

	&:hover {
        color: $btn-color;
        box-shadow: 0 0 5px $btn-color;
	}
}

.round-border {
	border-radius: 5px;
}

.grid-card {
    display: grid;
	grid-gap: .6em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.highlight {
	font-weight: bold;
	color: $title-color;

    &:hover {
        color: $title-color;
    }
}

.card {
    background-color: $bg-color;
    border: 2px solid $title-color;
	@include transition(all, .5s, ease-in-out);

    &:hover {
		box-shadow: 0 0 8px $title-color;
    }
}

._card {
	padding: .5em .8em;
	border: 2px solid $title-color;
	color: white;
	background-color: $bg-color;
	@include transition(all, .5s, ease-in-out);

    &:hover {
		box-shadow: 0 0 8px $title-color;
    }

    .icon {
        color: $btn-color;
        margin-right: .5em;
    }

	._card-title {
	    @include font_playfair();
		margin-bottom: .8em;
		font-size: 1.6rem;
		@include transition(all, .5s, ease-in-out);

		@media only screen and (max-width: 768px) {
            font-size: 1.4rem;
		}
	}

    ._card-description {
        margin-top: 1em;
        font-size: 1.3rem;
        text-align: left;

		@media only screen and (max-width: 768px) {
            text-align: center;
		}
    }
}

#scroll-top {
    position: fixed;
    display: none;
    right: 50px;
    bottom: 50px;
    z-index: 11;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: $btn-color;
	display: flex;
	align-items: center;
	justify-content: center;
	@include transition(all, .5s, ease-in-out);

    &:hover {
        box-shadow: 0 0 5px $btn-color !important;
		@include rotate();
    }
}

.owl-theme .owl-dots .owl-dot span {
	background-color: white !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: $btn-color !important;
}

.custom-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
        color: white;
        text-decoration: none;
    }
}
