html {
  scroll-behavior: smooth; }

nav {
  background-color: #607d8b;
  color: white; }
  nav a {
    text-decoration: none; }
  nav a:hover {
    text-decoration: underline; }

header {
  background: url("/assets/img/showcase.jpg") no-repeat;
  background-position: center;
  color: white;
  height: 460px; }
  header h1 {
    font-size: 70px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black; }
  header p {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black; }
  header hr {
    width: 300px;
    margin: auto;
    border-width: 3px;
    border-color: #607d8b; }

textarea {
  resize: none; }

.w3-tag {
  color: white;
  background-color: #607d8b; }

#about {
  color: #607d8b; }
  #about hr {
    width: 300px;
    margin: auto;
    border-width: 3px;
    border-color: #607d8b; }

#services {
  margin-top: 50px; }

#about_section img {
  width: 200px;
  height: 350px; }

#about_section div + div:last-child p:first-child {
  font-size: 18px; }

#services hr, #contact hr, #portfolio hr {
  width: 300px;
  margin: auto;
  border-width: 3px;
  border-color: white; }

#services_section h4 {
  text-transform: uppercase; }

#services_section p {
  font-size: 16px; }

#portfolio_section img {
  cursor: pointer;
  width: 400px;
  height: 500px; }

#contact_section a {
  text-decoration: none; }

#contact_section a:hover {
  text-decoration: underline; }
