//mixins definitions
@mixin before() {
    content: " ";
	display: inline-block;
    height: 15px;
    text-shadow: none;
    background-color: $light-blue;
	width: 80px;
	position: absolute;
	z-index: -1;

	@media only screen and (max-width: 768px) {
		width: 65px;
	}
}
