//import styles
@import "layout/reset";
@import "layout/typography";
@import "layout/colors";
@import "tools/mixins";

//main styles
body {
	color: $paragraph-color;
	background-color: $bg-color;
	font-family: $text-font;
    line-height: 1.5;
	font-size: 1.5rem;
	
	@media only screen and (max-width: 355px) {
		text-align: center;
	}

	@media only screen and (max-width: 600px) {
		font-size: 1.2rem;
	}
}

.container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

//buttons layout
.btn {
	color: $btn-color;
	font-family: $medium-font;
	font-size: 1.5rem;
	padding: .8em 1.5em;
	border-radius: 5px;
	border: 2px solid $btn-color;
    transition: all .3s ease-out;

    &:hover {
        box-shadow: 0 0 5px $btn-color;
    }

	@media only screen and (max-width: 355px) {
		width: 100%;
	}

	@media only screen and (max-width: 600px) {
		font-size: 1.2rem;
	}
}

.btn-group {
	display: flex;
    align-items: center;

	@media only screen and (max-width: 780px) {
		flex-direction: column;
		align-items: start;
	}
}

#scroll-top {
    position: fixed;
    display: none;
    right: 50px;
    bottom: 50px;
    z-index: 11;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: $btn-color;
    transition: all .3s ease-out;

    li {
        font-size: 2rem;
        margin-top: .25em;
        transition: all 1s ease-out ;
    }

    &:hover {
        box-shadow: 0 0 5px $btn-color !important;

        li {
            transform: rotate(360deg);
        }
    }
}

//layout styles
header,
#realisations,
#contact {
    height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

header {
	h1 {
        font-size: 3rem;
        margin: .1em 0;
        font-family: $title-font;
        color: $title-color;
		text-transform: uppercase;
	
		@media only screen and (max-width: 600px) {
			font-size: 2rem;
		}
	}
	
	.fullname{
		font-family: $special-font;
		font-size: 3.5rem;
		color: $subtitle-color;

		@media only screen and (max-width: 600px) {
			font-size: 2rem;
		}
	}

	.btn-group {
		margin-top: 2em;
		
        .btn-group__right {
            margin-left: 1em;
			
			@media only screen and (max-width: 780px) {
				margin-left: 0;
				margin-bottom: 1em;
			}
        }

		.btn-group__left {
			@media only screen and (max-width: 780px) {
				margin-bottom: 1em;
			}
		}
		

	}
	
	.about-text {
		margin-top: 1.5em;
		
		@media only screen and (max-width: 355px) {
			display: none;
		}
	}
}

.section__header {
    padding-bottom: 2em;

    p {
        font-family: $special-font;
		font-size: 2rem;
		color: $subtitle-color;
	}

    h2 {
        font-size: 2rem;
        font-family: $title-font;
        color: $title-color;
		
		@media only screen and (max-width: 600px) {
			font-size: 1.5rem;
		}
    }
}

.col {
    .row {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

#realisations {
	.section__content {
		.col-text {
			p {
				text-align: justify;
			}	
		}

    	.col-img {
        	background-color: $title-color;
        	
			img {
            	cursor: pointer;
            	transition: opacity .3s ease-out;

            	&:hover {
                	opacity: .8;
            	}
        	}
    	}

		.btn-group {
            margin-top: 1em;
        }

		.col-text {
			@media only screen and (max-width: 980px) {
				display: none;
			}
		}
	}	
}

#contact {
    .section__content {
        .btn-group {
            margin-bottom: 2em;
			
			@media only screen and (max-width: 780px) {
				margin-bottom: 0;
			}
        }
	}
}

.highlight {
	font-weight: bold;
	color: $title-color;
}

.mockup-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    padding-top: 100px;
}

.mockup-title {
	background-color: $bg-color !important;
	padding: .8em;
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		color: white;
	}

	li {
		cursor: pointer;
		font-size: 1.5rem;
	}
}
