@font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/fonts/Roboto/Roboto-Regular.eot');
	src: url('/assets/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
		url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('/assets/fonts/Roboto/Roboto-Medium.eot');
	src: url('/assets/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
		url('/assets/fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/assets/fonts/Roboto/Roboto-Bold.eot');
	src: url('/assets/fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
		url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
	--title-font: "Roboto-Bold";
	--text-font: "Roboto-Regular";
	--medium-font: "Roboto-Medium";
	--dark-blue: #3b494f;
	--light-pink: #FE7C7F;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: white;
	background-color: var(--dark-blue);
	font-family: var(--text-font);
	text-align: justify;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: 100%;
}

p, ul {
	line-height: 1.8;
}

.container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

header,
#methodologie,
#cas-pratique,
footer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

header p {
	font-size: 1.5rem;
}

header h1 {
	font-size: 3rem;
	margin-bottom: 1em;
	font-family: var(--title-font);
	color: var(--light-pink);
}

@media only screen and (max-width: 600px) {
	header h1 {
		font-size: 2.5rem;
	}

	header p {
		font-size: 1.3rem;
	}
}

.btn-link {
	color: white;
	font-family: var(--medium-font);
	font-size: 1.3rem;
	padding: 1em 1.5em;
	border-radius: 5px;
	border: 2px solid var(--light-pink);
	transition: all .3s ease-out;
}

.btn-link:hover {
	box-shadow: 0 0 5px var(--light-pink) !important;
}

.button-group {
	display: flex;
	align-items: center;
}

.button-group li {
	font-size: 1.3rem;
	margin-right: .5em;
	color: var(--light-pink);
}

@media only screen and (max-width: 990px) {
	#cas-pratique .row {
		flex-direction: column;
	}
}

#methodologie p,
#cas-pratique p,
footer p {
	font-size: 1.5rem;
}

#methodologie h2,
#cas-pratique h2,
footer h2 {
	font-size: 2rem;
	font-family: var(--title-font);
	color: var(--light-pink);
}

#cas-pratique .section__content {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.section__header {
	padding-bottom: 3em;
}

.section__header p {
	font-family: var(--medium-font);
}

.section__header p::before,
header p:first-child::before {
	content: " ";
	display: inline-block;
    height: 20px;
    text-shadow: none;
    background-color: var(--light-pink);
	width: 80px;
	position: absolute;
	z-index: -1;
}

.section__content .row {
	display: flex;
}

.section__content .row .col {
	width: 50%;
}

@media only screen and (max-width: 990px) {
	.section__content .row .col {
		width: 100%;
	}
}

.section__content .row .col:last-child {
	margin-left: 2em;
}

@media only screen and (max-width: 990px) {
	.section__content img {
		display: none;
	}
}

#scroll-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 11;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    color: var(--light-pink);
	transition: all .3s ease-out;
}

#scroll-top:hover {
	box-shadow: 0 0 5px var(--light-pink) !important;
}

.btn-link li,
#scroll-top li {
	transition: all 1s ease-out ;
}

.btn-link:hover li,
#scroll-top:hover li {
	transform: rotate(360deg);
}

.img-link {
	background-color: var(--light-pink);
}

.img-link img {
	transition: all .5s ease-out;
}

.img-link img:hover {
	opacity: .6;
}