@font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/fonts/Roboto/Roboto-Regular.eot');
    src: url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/assets/fonts/Roboto/Roboto-Bold.eot');
    src: url('/assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
	--title-font: "Open sans", sans-serif;
	--text-font: "Roboto-Regular";
	--dark-blue: #3b494f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: white;
	background-color: var(--dark-blue);
	font-family: var(--text-font);
	line-height: 1.5;
	text-align: justify;
}

a {
	text-decoration:none;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

.container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

header,
#methodologie,
#cas-pratique,
#contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

header h1 {
	font-size: 3rem;
	margin-bottom: 1em;
	font-family: var(--title-font);
}

.btn-link {
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 1em 1.5em;
	border-radius: 5px;
	border: 2px solid white;
	transition: all .3s ease-out;
}

.btn-link:hover {
	box-shadow: 0 0 5px white !important;
}

.button-group {
	display: flex;
	align-items: center;
}

.button-group li {
	font-size: 1.3rem;
	margin-right: .5em;
}

#methodologie p,
#cas-pratique p,
#contact p {
	font-size: 1.5rem;
}

#methodologie h2,
#cas-pratique h2,
#contact h2 {
	font-size: 2rem;
	font-family: var(--title-font);
}

#cas-pratique .section__content {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.section__header {
	padding-bottom: 3em;
}

.section__content .row {
	display: flex;
}

.section__content .row col {
	width: 50%;
}

#scroll-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 11;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    color: white;
	transition: all .3s ease-out;
}

#scroll-top:hover {
	box-shadow: 0 0 5px white !important;
}