@mixin transition($attr, $time, $type) {
    transition: $attr $time $type !important;
    -webkit-transition: $attr $time $type !important;
    -moz-transition: $attr $time $type !important;
    -o-transition: $attr $time $type !important;
}

@mixin rotate {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
